/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video, input):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

.header-svg-tab,
.bg-pattern-2 {
  display: none;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  background-color: #Fcfaf9;
}

header .logo-svg {
  padding: 2.499375rem 0 4.000625rem 1.571875rem;
}

.header-svg {
  position: absolute;
  right: 0;
  top: 0;
}

h1,
h2,
footer div {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.454545px;
  color: #191826;
  padding: 0 1.5rem;
}

h2,
section.orange-card p,
.monthly-fee .price,
.monthly-fee .time,
.ios {
  color: #fcfaf9;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  padding: 3rem 2.25rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
  color: #191826;
}

section.hero p {
  padding: 1.25rem 1.5rem 10.0625rem;
}

.black-card,
.orange-card {
  border-radius: .75rem;
  display: grid;
  position: relative;
}

section.black-card {
  background-color: #191826;
  justify-content: center;
}

section.orange-card {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  background-color: #fa7453;
  margin-top: -40px;
  z-index: 1;
}

section.orange-card p {
  font-size: 1.125rem;
  line-height: 28px;
  padding: .75rem 2.25rem 2.25rem;
}

.monthly-fee {
  padding: 0 10.5rem 2rem 2.625rem;
}

.monthly-fee .price {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: .8;
  margin-right: 1rem;
}

.monthly-fee .time {
  font-size: 1.25rem;
  letter-spacing: -0.0125rem;
  line-height: 1.6;
}

button {
  width: 80%;
  height: 3.8125rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.125rem;
  line-height: 32px;
  letter-spacing: -0.01125rem;
  font-weight: 700;
  border-radius: .75rem;
}

button.ios svg {
  margin-right: .495rem;
}

button.android svg {
  margin-right: .4875rem;
}


.ios,
.android,
.monthly-fee {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ios {
  background-color: #191826;
}

.android {
  background-color: #fcfaf9;
  color: #191826;
  margin: 1rem auto 3rem;
}

footer .logo-svg {
  margin: 3.999375rem 0 2.000625rem 1.571875rem;
}

footer p,
footer div {
  font-size: 1rem;
  margin: 0 1.5rem;
  line-height: 1.625;
}

footer svg {
  margin: 4rem 1.25rem 5rem 0;
}

.iPhone {
  margin: -520px 30px;
  width: 13.060625rem;
}

@media screen and (min-width: 768px) {
  .header-svg {
    display: none;
  }

  .header-svg-tab {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .bg-pattern-2 {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  header .logo-svg {
    padding: 3.874375rem 0 5.938125rem 2.446875rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.045455rem;
    padding: 0 13.0625rem 0 2.4375rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 28px;
  }

  section.hero p {
    padding: 1.75rem 13.4375rem 15.5625rem 2.4375rem;
  }

  section.black-card {
    margin: 0 2.4375rem 0 2.0625rem;
    min-height: 37.5rem;
    width: 43.5rem;
  }

  section.orange-card {
    width: 52%;
    min-height: 34.125rem;
    margin: -450px 0 0 272px;
  }

  .bg-pattern-1 {
    margin: -1.9375rem 14.125rem 0 16.375rem;
  }

  .iPhone {
    width: 16.888125rem;
    height: 34.75rem;
    position: relative;
    top: -115px;
    left: 70px;
  }
}